---
const Links = [
  {
    header: 'Navigatie',
    links: [
      {
        name: 'Over ons',
        href: '/',
        isExterncal: false,
      },
      {
        name: 'Ons tuincentrum',
        href: '#bloei',
        isExternal: false,
      },
      {
        name: 'Planten',
        href: '#onze-planten',
        isExternal: false,
      },
      {
        name: 'Bloemen',
        href: '#onze-bloemen',
        isExternal: false,
      },
      {
        name: 'Sfeer',
        href: '#sfeer',
        isExternal: false,
      },
      {
        name: 'Contact',
        href: '#contact',
        isExternal: false,
      },
    ],
  },
];
---

<header
  x-data="{ open: false }"
  class="sticky top-0 z-30 transition"
  :class="{ 'bg-white dark:bg-[#1d1d1f]': open, 'bg-primary-50 dark:bg-[#1d1d1f]': !(open) }"
>
  <section
    class="mx-auto flex max-w-2xl items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:xl:max-w-[85vw] 2xl:max-w-[90rem] lg:px-8"
  >
    <a
      href="/"
      class="rounded-md focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200"
    >
      <img
        class="h-16 w-auto object-contain"
        width="120"
        height="90"
        :src="$store.theme.isDark ? 'Logo-wit.webp' : 'logo.png'"
        alt="Logo Tuincentrum Lagemaat"
      />
    </a>

    <aside class="-mr-2 flex items-center space-x-2 sm:space-x-3">
      <a
        href="email:info@lagemaat-ede.nl"
        aria-label="Email: info@lagemaat-ede.nl"
        class="hidden items-center justify-center hover:underline sm:flex sm:text-lg"
        ><svg
          width="1200pt"
          height="1200pt"
          version="1.1"
          viewBox="0 0 1200 1200"
          xmlns="http://www.w3.org/2000/svg"
          class="mx-2 h-8 w-8 fill-primary-900 dark:fill-white"
        >
          <path
            d="m297.71 380.84c-12.297 0-22.672 10.371-22.672 22.672v392.97c0 12.297 10.371 22.672 22.672 22.672h604.57c12.297 0 22.672-10.371 22.672-22.672v-392.97c0-12.301-10.371-22.672-22.672-22.672zm30.23 30.23h544.11l-272.06 251.51-272.06-251.51zm-22.672 19.836 174.52 161.54-174.52 174.52zm589.46 0v336.05l-174.52-174.52 174.52-161.54zm-392.73 181.84 87.852 81.477c2.7812 2.5234 6.3984 3.918 10.152 3.918 3.7578 0 7.375-1.3945 10.156-3.918l87.852-81.477 176.18 176.18h-548.36z"
            style="stroke: currentColor; stroke-width: 20px;"></path>
        </svg>
         info@lagemaat-ede.nl</a
      >

      <a
        href="tel:031861561"
        aria-label="Bellen: (0318) 615 615"
        class="hidden items-center justify-center hover:underline sm:flex sm:text-lg"
        ><svg
          width="1200pt"
          height="1200pt"
          version="1.1"
          viewBox="0 0 1200 1200"
          xmlns="http://www.w3.org/2000/svg"
          class="mx-2 h-5 w-5 fill-primary-900 dark:fill-white"
        >
          <path
            style="stroke: currentColor; stroke-width: 50px;"
            d="m884.8 1104h-0.035156c-194.76-0.011719-415.67-199.48-501.6-285.23-94.008-93.805-309.97-333.8-285.21-535.96 9.3125-75.996 51.539-137.05 125.52-181.48 5.9531-3.5742 12.758-5.3867 20.219-5.3867 58.188 0 172.95 135.83 219.39 201.6 66.395 94.02 56.988 120.55 53.449 130.54-11.258 31.727-32.195 50.23-50.664 66.539-16.164 14.281-30.121 26.605-37.234 46.656-0.98438 4.8711 5.4727 31.176 47.641 83.004 66.266 81.445 153.57 147.02 181.69 147.02 20.746-7.1055 33.098-21.059 47.363-37.223 16.32-18.469 34.812-39.395 66.551-50.664 4.4648-1.5859 9.4062-2.3867 14.688-2.3867 66.898 0 260.43 158.71 305.84 238.88 4.8125 8.5078 19.477 34.402 6.2031 56.543-50.723 84.637-122.67 127.54-213.81 127.54zm-639.45-959.79c-59.711 36.684-92.352 83.965-99.758 144.43-15.395 125.68 86.09 311.16 271.46 496.14 81.719 81.539 290.86 271.2 467.72 271.21h0.023438c73.164 0 129.13-33.203 170.99-101.47-7.9219-47.438-218.58-224.71-268.89-225.48-19.414 7.2227-31.57 20.965-45.59 36.828-16.332 18.48-34.836 39.422-66.59 50.688-5.1367 1.8242-10.766 2.7461-16.754 2.7461-63.59 0-184.93-114.36-240.54-193.11-31.297-44.305-42.434-77.328-34.031-100.98 11.258-31.754 32.207-50.258 50.676-66.574 15.887-14.027 29.641-26.195 36.852-45.648 0.26562-17.293-38.879-86.641-111.96-169.5-60.004-68.047-100.29-96.285-113.61-99.285z"
          ></path>
        </svg>
         (0318) 615 615</a
      >
      <button
        type="button"
        class="inline-flex h-14 w-14 items-center justify-center rounded-full text-[#1D1D1F] ring-primary-950 transition hover:bg-primary-500/10 focus:outline-none focus-visible:ring-2 dark:text-primary-200 dark:hover:bg-primary-400/10"
        x-data
        @click="$store.theme.toggle()"
      >
        <span class="sr-only">Kleur thema veranderen</span>
        <svg
          x-cloak
          class="h-6 w-6"
          :class="{ 'hidden': !($store.theme.isDark) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12 18C8.68629 18 6 15.3137 6 12C6 8.68629 8.68629 6 12 6C15.3137 6 18 8.68629 18 12C18 15.3137 15.3137 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16ZM11 1H13V4H11V1ZM11 20H13V23H11V20ZM3.51472 4.92893L4.92893 3.51472L7.05025 5.63604L5.63604 7.05025L3.51472 4.92893ZM16.9497 18.364L18.364 16.9497L20.4853 19.0711L19.0711 20.4853L16.9497 18.364ZM19.0711 3.51472L20.4853 4.92893L18.364 7.05025L16.9497 5.63604L19.0711 3.51472ZM5.63604 16.9497L7.05025 18.364L4.92893 20.4853L3.51472 19.0711L5.63604 16.9497ZM23 11V13H20V11H23ZM4 11V13H1V11H4Z"
          ></path>
        </svg>
        <svg
          x-cloak
          class="h-6 w-6"
          :class="{ 'hidden': $store.theme.isDark }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M10 6C10 10.4183 13.5817 14 18 14C19.4386 14 20.7885 13.6203 21.9549 12.9556C21.4738 18.0302 17.2005 22 12 22C6.47715 22 2 17.5228 2 12C2 6.79948 5.9698 2.52616 11.0444 2.04507C10.3797 3.21152 10 4.56142 10 6ZM4 12C4 16.4183 7.58172 20 12 20C14.9654 20 17.5757 18.3788 18.9571 15.9546C18.6407 15.9848 18.3214 16 18 16C12.4772 16 8 11.5228 8 6C8 5.67863 8.01524 5.35933 8.04536 5.04293C5.62119 6.42426 4 9.03458 4 12ZM18.1642 2.29104L19 2.5V3.5L18.1642 3.70896C17.4476 3.8881 16.8881 4.4476 16.709 5.16417L16.5 6H15.5L15.291 5.16417C15.1119 4.4476 14.5524 3.8881 13.8358 3.70896L13 3.5V2.5L13.8358 2.29104C14.5524 2.1119 15.1119 1.5524 15.291 0.835829L15.5 0H16.5L16.709 0.835829C16.8881 1.5524 17.4476 2.1119 18.1642 2.29104ZM23.1642 7.29104L24 7.5V8.5L23.1642 8.70896C22.4476 8.8881 21.8881 9.4476 21.709 10.1642L21.5 11H20.5L20.291 10.1642C20.1119 9.4476 19.5524 8.8881 18.8358 8.70896L18 8.5V7.5L18.8358 7.29104C19.5524 7.1119 20.1119 6.5524 20.291 5.83583L20.5 5H21.5L21.709 5.83583C21.8881 6.5524 22.4476 7.1119 23.1642 7.29104Z"
          ></path>
        </svg>
      </button>

      <button
        type="button"
        class="inline-flex h-14 w-14 items-center justify-center rounded-full text-[#1D1D1F] ring-primary-950 transition hover:bg-primary-500/10 focus:outline-none focus-visible:ring-2 dark:text-primary-200 dark:hover:bg-primary-400/10"
        @click="open = !open"
        @mousedown="if (open) $event.preventDefault()"
        aria-controls="website-menu"
        aria-expanded="false"
        :aria-expanded="open.toString()"
      >
        <span class="sr-only">Menu openen</span>
        <svg
          x-cloak
          class="h-8 w-8"
          :class="{ 'hidden': open, 'block': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path d="M19 8H5V10H19V8ZM19 14H5V16H19V14Z"></path>
        </svg>
        <svg
          x-cloak
          class="h-8 w-8"
          :class="{ 'block': open, 'hidden': !(open) }"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
          ></path>
        </svg>
      </button>
    </aside>
  </section>

  <nav
    class="mx-auto max-w-2xl px-4 sm:px-6 lg:xl:max-w-[85vw] 2xl:max-w-[90rem] lg:px-8"
    id="website-menu"
    x-cloak
    x-show="open"
    x-collapse
    x-collapse.duration.500ms
  >
    <section class="flex flex-col sm:gap-16 pb-24 pt-6 sm:flex-row lg:pt-12">
      <image src="pand.webp" class="w-full sm:w-1/2 rounded-lg" alt="Pand van Tuincentrum Lagemaat">
        <aside class="w-full text-center sm:text-left pt-5 sm:pt-0">
          {
            Links.map((group) => (
              <>
                <span class="text-xl lg:col-start-2 lg:text-3xl font-medium">{group.header}</span>
                <ul role="list" class="mt-2 flex flex-col gap-3">
                  {group.links.map((link) => (
                    <li>
                      <a
                        href={link.href}
                        class="inline-flex items-center gap-1 rounded-md text-base hover:underline focus-visible:outline focus-visible:outline-2 focus-visible:outline-primary-950 dark:focus-visible:outline-primary-200"
                        target={link.isExternal ? '_blank' : undefined}
                        rel={link.isExternal ? 'noopener' : undefined}
                        @click="open = !open"
                        @mousedown="if (open) $event.preventDefault()"
                        aria-controls="website-menu"
                        aria-expanded="false"
                        :aria-expanded="open.toString()"
                      >
                        {link.name}
                        {link.isExternal && (
                          <svg
                            class="h-4 w-4"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                            aria-hidden="true"
                          >
                            <path d="M10 6V8H5V19H16V14H18V20C18 20.5523 17.5523 21 17 21H4C3.44772 21 3 20.5523 3 20V7C3 6.44772 3.44772 6 4 6H10ZM21 3V11H19L18.9999 6.413L11.2071 14.2071L9.79289 12.7929L17.5849 5H13V3H21Z" />
                          </svg>
                        )}
                      </a>
                    </li>
                  ))}
                </ul>
              </>
            ))
          }
        </aside>
      </image>
    </section>
  </nav>
</header>
