<section class="flex w-full items-center justify-center py-12 md:py-0" id="onze-planten">
  <ul
    class="justify-left w-7/8 flex flex-col text-lg sm:grid sm:grid-cols-3 sm:justify-center sm:text-xl"
  >
    <li class="justify-left flex w-full items-center sm:col-start-1 sm:justify-center">
      <svg
        width="1200pt"
        height="1200pt"
        version="1.1"
        viewBox="0 0 1200 1200"
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 fill-[#306339] dark:fill-white"
      >
        <path
          d="m600 259.93c-187.55 0-340.07 152.52-340.07 340.07 0 159.62 110.12 293.99 258.83 330.39 7.8906 1.9414 16.215-0.47656 21.84-6.3359 5.625-5.8633 7.6953-14.281 5.4297-22.082-2.2617-7.8008-8.5156-13.805-16.406-15.746-128.75-31.516-224.35-147.46-224.35-286.23 0-163.04 131.69-294.73 294.73-294.73 163.04 0 294.73 131.69 294.73 294.73 0 163.04-131.69 294.73-294.73 294.73-6.0664-0.085938-11.918 2.2656-16.238 6.5273-4.3203 4.2578-6.7539 10.074-6.7539 16.145 0 6.0664 2.4336 11.883 6.7539 16.145 4.3203 4.2617 10.172 6.6133 16.238 6.5273 187.55 0 340.07-152.52 340.07-340.07 0-187.55-152.52-340.07-340.07-340.07zm159.88 203.81c-5.9219 0.23438-11.516 2.7773-15.586 7.082l-189.64 194.84-80.059-82.422c-4.1914-4.3555-9.9414-6.8633-15.984-6.9648-6.043-0.10547-11.875 2.2031-16.211 6.4141-4.3359 4.2109-6.8164 9.9727-6.8906 16.016s2.2656 11.867 6.4961 16.18l96.352 99.188c4.2734 4.4141 10.152 6.9102 16.297 6.9102 6.1406 0 12.023-2.4961 16.293-6.9102l205.93-211.6c4.3516-4.3281 6.7656-10.238 6.6836-16.375-0.078124-6.1406-2.6445-11.984-7.1094-16.195-4.4648-4.2148-10.445-6.4375-16.578-6.1602z"
        ></path>
      </svg>De groenspecialist van Ede
    </li>
    <li class="justify-left flex w-full items-center sm:col-start-2 sm:justify-center">
      <svg
        width="1200pt"
        height="1200pt"
        version="1.1"
        viewBox="0 0 1200 1200"
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 fill-[#306339] dark:fill-white"
      >
        <path
          d="m600 259.93c-187.55 0-340.07 152.52-340.07 340.07 0 159.62 110.12 293.99 258.83 330.39 7.8906 1.9414 16.215-0.47656 21.84-6.3359 5.625-5.8633 7.6953-14.281 5.4297-22.082-2.2617-7.8008-8.5156-13.805-16.406-15.746-128.75-31.516-224.35-147.46-224.35-286.23 0-163.04 131.69-294.73 294.73-294.73 163.04 0 294.73 131.69 294.73 294.73 0 163.04-131.69 294.73-294.73 294.73-6.0664-0.085938-11.918 2.2656-16.238 6.5273-4.3203 4.2578-6.7539 10.074-6.7539 16.145 0 6.0664 2.4336 11.883 6.7539 16.145 4.3203 4.2617 10.172 6.6133 16.238 6.5273 187.55 0 340.07-152.52 340.07-340.07 0-187.55-152.52-340.07-340.07-340.07zm159.88 203.81c-5.9219 0.23438-11.516 2.7773-15.586 7.082l-189.64 194.84-80.059-82.422c-4.1914-4.3555-9.9414-6.8633-15.984-6.9648-6.043-0.10547-11.875 2.2031-16.211 6.4141-4.3359 4.2109-6.8164 9.9727-6.8906 16.016s2.2656 11.867 6.4961 16.18l96.352 99.188c4.2734 4.4141 10.152 6.9102 16.297 6.9102 6.1406 0 12.023-2.4961 16.293-6.9102l205.93-211.6c4.3516-4.3281 6.7656-10.238 6.6836-16.375-0.078124-6.1406-2.6445-11.984-7.1094-16.195-4.4648-4.2148-10.445-6.4375-16.578-6.1602z"
        ></path>
      </svg>Deskundig personeel
    </li>
    <li class="justify-left flex w-full items-center sm:col-start-3 sm:justify-center">
      <svg
        width="1200pt"
        height="1200pt"
        version="1.1"
        viewBox="0 0 1200 1200"
        xmlns="http://www.w3.org/2000/svg"
        class="h-10 w-10 fill-[#306339] dark:fill-white"
      >
        <path
          d="m600 259.93c-187.55 0-340.07 152.52-340.07 340.07 0 159.62 110.12 293.99 258.83 330.39 7.8906 1.9414 16.215-0.47656 21.84-6.3359 5.625-5.8633 7.6953-14.281 5.4297-22.082-2.2617-7.8008-8.5156-13.805-16.406-15.746-128.75-31.516-224.35-147.46-224.35-286.23 0-163.04 131.69-294.73 294.73-294.73 163.04 0 294.73 131.69 294.73 294.73 0 163.04-131.69 294.73-294.73 294.73-6.0664-0.085938-11.918 2.2656-16.238 6.5273-4.3203 4.2578-6.7539 10.074-6.7539 16.145 0 6.0664 2.4336 11.883 6.7539 16.145 4.3203 4.2617 10.172 6.6133 16.238 6.5273 187.55 0 340.07-152.52 340.07-340.07 0-187.55-152.52-340.07-340.07-340.07zm159.88 203.81c-5.9219 0.23438-11.516 2.7773-15.586 7.082l-189.64 194.84-80.059-82.422c-4.1914-4.3555-9.9414-6.8633-15.984-6.9648-6.043-0.10547-11.875 2.2031-16.211 6.4141-4.3359 4.2109-6.8164 9.9727-6.8906 16.016s2.2656 11.867 6.4961 16.18l96.352 99.188c4.2734 4.4141 10.152 6.9102 16.297 6.9102 6.1406 0 12.023-2.4961 16.293-6.9102l205.93-211.6c4.3516-4.3281 6.7656-10.238 6.6836-16.375-0.078124-6.1406-2.6445-11.984-7.1094-16.195-4.4648-4.2148-10.445-6.4375-16.578-6.1602z"
        ></path>
      </svg>Planten rechtstreeks van de kweker
    </li>
  </ul>
</section>
